$background:#2C2F33;
$height:52px;
@mixin overflow() {
	overflow: hidden;
}
@mixin center() {
	width: 1000px;
	margin: 0 auto;
}
@mixin  fontfamily() {
	font-family: PingFangSC-Regular;
}
@mixin  dispalyblock() {
	display: block;
}
.header {
	background-color: $background;
	height: $height;
	@include overflow();
	.header-center {
		@include center();
		@include overflow();
		@include fontfamily();
	}
	.logo {
		text-indent: -9999em;
		@include dispalyblock();
		width: 165px;
		height: 20px;
		margin-top: 16px;
		float: left;
		img {
			border: 0px;
		}
	}
	
}