$font14 : 14px;

.search-box{
    .search-topic {
        position: absolute;
        z-index: 90;
        font-size: $font14;
        top: 50%;
        margin-top: -10px;
        display: block;
        width: 300px;
        color: rgba(31,56,88,0.30);
        line-height: 20px;
        margin-left: 8px;
    }
    .search-text {
        padding: 10px 0 6px;
        text-indent: 10px;
        width: 460px;
        float: left;
        border: 0;
        font-size: $font14;
        position: relative;
        top: 4px;
        outline: none;
    }
    .search-btn {
        width: 94px;
        height: 45px;
        border: 0;
        cursor: pointer;
        _float: left;
    }
}
